<div>
  <h3 class="subtitle">Average price per user</h3>
  <rzslider rz-slider-model="$ctrl.Storage.data.marketingStepTwo.averagePricePerUser" rz-slider-options="$ctrl.priceSliderOptions"></rzslider>

  <h3 class="subtitle">Virality factor</h3>
  <rzslider rz-slider-model="$ctrl.Storage.data.marketingStepTwo.viralityFactor" rz-slider-options="$ctrl.viralitySliderOptions"></rzslider>

  <div>
    <span>Expected monthly churn</span>
    <input type="number" min="0" max="100" ng-model="$ctrl.Storage.data.marketingStepTwo.monthlyChurn">

  </div>

  <a ui-sref="marketing-step-three" class="continue-button btn btn-primary">Continue</a>
</div>
