<div>
  <h2 class="title">Business Model - how do we plan to make money?</h2>

  <form class="form">
    <div class="summary-control-item">
      <h3 class="subtitle">Marketing budget</h3>
      <rzslider rz-slider-model="$ctrl.Storage.data.marketingStepThree.monthlyBudget" rz-slider-options="$ctrl.budgetSliderOptions"></rzslider>
    </div>
    <div class="summary-control-item">
      <h3 class="subtitle">Virality</h3>
      <rzslider rz-slider-model="$ctrl.Storage.data.marketingStepTwo.viralityFactor" rz-slider-options="$ctrl.viralitySliderOptions"></rzslider>
    </div>
    <div class="summary-master-item">
      <h3 class="subtitle">Development Time</h3>
      <rzslider rz-slider-model="$ctrl.Storage.data.timeline.mvp" rz-slider-options="$ctrl.developmentTimeSliderOptions"></rzslider>
    </div>
    <div class="summary-master-item">
      <h3 class="subtitle">Salaries</h3>
      <rzslider rz-slider-model="$ctrl.Storage.data.summary.adjustSalaries" rz-slider-options="$ctrl.salariesSliderOptions"></rzslider>
    </div>
  </form>
</div>
