timeline-detail {

    .timeline-row {
        clear: both;
        width: 100%;

        &:first-child {
            overflow: hidden;
            margin-bottom: 10px;
        }
    }

    .timeline-years {
        width: 88%;
        float: left;
    }

    .timeline-year {
        width: 20%;
        float: left;
        display: inline-block;
        color: #6B6B6B;
        font: 16px Arial;
        font-weight: bold;
        line-height: 30px;

        &:nth-child(5) {
            width: 18%;
        }

        &:last-child {
            text-align: right;
            width: 2%;
        }
    }

    .timeline-label {
        width: 12%;
        float: left;
        font: 16px Arial;
        font-weight: bold;
        color: #6B6B6B;
        text-align: center;
        line-height: 30px;
    }

    .timeline-bar {
        height: 35px;
        width: 88%;
        float: left;
        margin: 2px 0;
        overflow: hidden;
        background-color: rgba(240, 240, 240, 0.3);

        .timeline-item {
            display: inline-block;
            height: 100%;
            float: left;
            transition: width 300ms ease;
        }

        &.mvp {
            .timeline-item:nth-child(1) {
                background: #ff33ff;
            }
        }

        &.pilot {
            .timeline-item:nth-child(2) {
                background: #990099;
            }
        }

        &.scale {
            .timeline-item:nth-child(3) {
                background: #00cc00;
            }
        }
    }
}
