growth-detail {

    .control-label {
        margin-right: 10px;
        width: 270px;
    }

    .form-control {
        width: 80px;
        display: inline-block;
        margin: 5px 0;
    }

    .form-section {
        margin-bottom: 30px;
    }
}
