<div>
  <h2 class="title">Growth - means scaling your business and making money</h2>

  <h2 class="subtitle">Let's imagine ourselves in year 5.
    Who will be working in the company aside from the founders?</h2>

  <form class="form">
    <div class="form-section">
      <h3 class="subtitle">Starting with G&A (General Administration)</h3>
      <div class="form-group">
        <div class="color-indicator"></div>
        <label class="control-label">How many junior positions?</label>
        <input type="number" min="0" max="60" class="form-control" ng-model="$ctrl.Storage.data.growth.juniorGA">
      </div>
      <div class="form-group">
        <div class="color-indicator"></div>
        <label class="control-label">How many senior positions?</label>
        <input type="number" min="0" max="60" class="form-control" ng-model="$ctrl.Storage.data.growth.seniorGA">
      </div>

      <div class="form-section">
        <h3 class="subtitle">Starting with R&D (Research & Development)</h3>
        <div class="form-group">
          <div class="color-indicator"></div>
          <label class="control-label">How many junior positions?</label>
          <input type="number" min="0" max="60" class="form-control" ng-model="$ctrl.Storage.data.growth.juniorRnD">
        </div>
        <div class="form-group">
          <div class="color-indicator"></div>
          <label class="control-label">How many senior positions?</label>
          <input type="number" min="0" max="60" class="form-control" ng-model="$ctrl.Storage.data.growth.seniorRnD">
        </div>
      </div>

      <div class="form-section">
        <h3 class="subtitle">Starting with M&S (Marketing & Sales)</h3>
        <div class="form-group">
          <div class="color-indicator"></div>
          <label class="control-label">How many junior positions?</label>
          <input type="number" min="0" max="60" class="form-control" ng-model="$ctrl.Storage.data.growth.juniorMS">
        </div>
        <div class="form-group">
          <div class="color-indicator"></div>
          <label class="control-label">How many senior positions?</label>
          <input type="number" min="0" max="60" class="form-control" ng-model="$ctrl.Storage.data.growth.seniorMS">
        </div>
      </div>
    </div>
  </form>
</div>
