<div>
  <h2 class="title">MVP - This stage is all about the team</h2>
  <h3 class="subtitle">Let's add the founders</h3>

  <form class="form" ng-submit="$ctrl.onSubmit($ctrl.formData)">
    <input type="text" class="form-control" placeholder="Full name" ng-model="$ctrl.formData.fullName">
    <input type="text" class="form-control" placeholder="Title" ng-model="$ctrl.formData.title">
    <select class="form-control"
            ng-model="$ctrl.formData.roleType"
            ng-options="role as role for role in $ctrl.Storage.options.roleTypes">
      <option value="">Area of expertise</option>
    </select>
    <input type="number" class="form-control" placeholder="Initial salary" ng-model="$ctrl.formData.initialSalary">

    <div class="percent-in-company">
      <span class="subtitle percent-title">Percent in company</span>
      <input type="number" min="0" max="100" class="form-control" ng-model="$ctrl.formData.percentInCompany">
      <div class="suffix subtitle">%</div>
    </div>

    <button type="submit" class="btn btn-primary add-button pull-right">Add</button>
  </form>

  <div class="founder-list">
    <div ng-repeat="founder in $ctrl.Storage.data.mvp.founderList" class="founder-item">
      <span class="color-indicator" style="background-color: {{$ctrl.Storage.chartColors[$index]}}"></span>
      <div class="founder-details">
        <span class="founder-title" ng-bind="founder.title"></span>
        <span class="founder-fullname" ng-bind="founder.fullName"></span>
        <span class="founder-roletype" ng-bind="founder.roleType"></span>
        <span class="founder-percent">{{founder.percentInCompany}}%</span>
      </div>
    </div>
  </div>
</div>
