<div>
  <h2 class="title">MVP - This stage is all about the team</h2>
  <h3 class="subtitle">Let's add the founders</h3>

  <form class="form" ng-submit="$ctrl.onSubmit($ctrl.formData)">
    <input type="text" class="form-control" placeholder="Full name" ng-model="$ctrl.formData.fullName">
    <input type="text" class="form-control" placeholder="Title" ng-model="$ctrl.formData.title">
    <select ng-model="$ctrl.formData.roleType"
            ng-options="role as role for role in $ctrl.Storage.options.roleTypes">
      <option value="">Area of expertise</option>
    </select>
    <input type="number" class="form-control" placeholder="Initial salary" ng-model="$ctrl.formData.initialSalary">

    <div>
      <span>Percent in company</span>
      <div class="input-group">
        <input type="number" min="0" max="100" class="form-control" ng-model="$ctrl.formData.percentInCompany">
        <div class="input-group-addon">%</div>
      </div>
    </div>

    <button type="submit">Add</button>
  </form>

  <div class="founder-list">
    <div ng-repeat="founder in $ctrl.Storage.data.mvp.founderList">
      <span ng-bind="founder.title"></span>
      <span ng-bind="founder.fullName"></span>
      <span ng-bind="founder.roleType"></span>
      <span>{{founder.percentInCompany}}%</span>
    </div>
  </div>
</div>
