pilot-master {

    .form-control {
        width: 40%;
        display: inline-block;
    }

    .all-employees-list {

        & > div {
            width: 50%;
            float: left;
        }
    }

    .founder-list h3 {
        font: 18px 'Arial';
    }

    .employee-list h3 {
        font: 18px 'Arial';
    }

    label {
        padding-left: 20px;
        font: 14px 'Arial';
        color: #6B6B6B;
    }
}
