<div>
  <h2 class="title">Pilot - Is all about setting targets</h2>
  <h3 class="subtitle">Do you want to hire more people?</h3>

  <form class="form" ng-submit="$ctrl.onSubmit($ctrl.formData)">
    <select ng-model="$ctrl.formData.roleType"
            ng-options="role as role for role in $ctrl.Storage.options.roleTypes">
      <option value="">Area of expertise</option>
    </select>
    <label><input type="radio" name="level" ng-model="$ctrl.formData.level" value="Junior"> Junior</label>
    <label><input type="radio" name="level" ng-model="$ctrl.formData.level" value="Senior"> Senior</label>
    <input type="number" class="form-control" placeholder="Initial salary" ng-model="$ctrl.formData.initialSalary">

    <button type="submit">Add</button>
  </form>

  <div class="all-employees-list">
    <div class="founder-list">
      <h3>Founders</h3>
      <div ng-repeat="founder in $ctrl.Storage.data.mvp.founderList">
        <span ng-bind="founder.title"></span>
        <span ng-bind="founder.fullName"></span>
        <span ng-bind="founder.roleType"></span>
        <span>{{founder.initialSalary | currency:'$':0}}</span>
      </div>
    </div>
    <div class="employee-list">
      <h3>Employees</h3>
      <div ng-repeat="employee in $ctrl.Storage.data.pilot.employeeList">
        <span ng-bind="employee.roleType"></span>
        <span ng-bind="employee.level"></span>
        <span>{{employee.initialSalary | currency:'$':0}}</span>
      </div>
    </div>
  </div>
</div>
