business-focus-detail {

    .business-focus-option {
        background: #19fffd;
        margin: 0 3% 3%;
        height: 150px;
        font-size: 1.7rem;
        padding: 38px;
        cursor: pointer;

        &:hover {
            background: #72fffd;
        }

        &.active {
            background: #f6ff88;
        }
    }
}
