business-focus-detail {

    .business-focus-option {
        margin: 0 3% 3%;
        width: 26%;
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 400;
        display: inline-block;

        img {
            margin: 13px auto;
            display: block;
        }
    }
}
