<div>
  <h2 class="title">Let's get started</h2>

  <form class="form">
    <input ng-model="$ctrl.Storage.data.businessFocus.companyName"
           class="form-control" type="text" placeholder="Company name">
    <input ng-model="$ctrl.Storage.data.businessFocus.country"
           class="form-control" type="text" placeholder="Country">
    <input ng-model="$ctrl.Storage.data.businessFocus.state"
           class="form-control" type="text" placeholder="State">
    <input ng-model="$ctrl.Storage.data.businessFocus.city"
           class="form-control" type="text" placeholder="City">
  </form>
</div>
