<div>
  <h2 class="title">Choose your business focus</h2>

  <div class="center">
    <div class="business-focus-option"
         style="color: {{$ctrl.colors[focusOption]}}"
         ng-repeat="focusOption in $ctrl.Storage.options.businessFocusOptions"
         ng-click="$ctrl.chooseBusinessFocus(focusOption)"
         ng-class="{active: $ctrl.isChosenBusinessFocus(focusOption)}">
      <img ng-src="app/images/{{$ctrl.images[focusOption]}}">
      <span ng-bind="focusOption"></span>
    </div>
  </div>
</div>
